@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic);

#flash { display: none; }
.alert { border-radius: 0;  }

h1, h2, h3, h4, h5, h6, p, div, input, textarea {  font-family: 'Lato', sans-serif !important; }

.dropdown { transition: all 0.2s }

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right { float: right!important }

.content { max-width: 700px; margin: auto; padding: 1em; }

.badge-notify{
    background:cornflowerblue;
    position:relative;
    font-size: 10px;
    top: -10px;
    left: -5px;
}

.nav-tabs a {border-radius: 0 !important; color: black }

.form-control {
    margin: 10px 0 10px 0;
    outline: none;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-bottom: thin solid;
    border-color: #666666;
}
.form-control:focus {
    border-color: #435b8a;
}

.btn {
    border-radius: 0 !important;
}

.content {
    max-width: 500px;
    margin: auto;
}

.dialogue-box { box-shadow: 0 0 8px -3px rgba(0,0,0,0.75); }
.inline-form { width: 200px !important; display: inline-block !important; float: left; margin: 0.5em !important; }

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f2f2f2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -150px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: black;
    background: rgba(42, 42, 42, 0.27);
    transition: all 0.5s;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-header {
    margin-top: 2em;
    border-bottom: thin solid #b0b0b0;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 150px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}