<html>
<head>
  <title>fabric</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
  <script> socket = io(); </script>
  <script src="/js/engine/models.js"></script>
  <script src="/js/engine/user.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-with-addons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.min.js"></script>

  <link rel="stylesheet" href="/css/all.css">
</head>

<body>
<main id="page">

</main>
</body>
</html>
